<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modern Animated Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login style.css') }}">
</head>
<body>
  <div class="box">
    <div class="login">
      <form method="POST" action="/submit" class="loginBx">
        <h2>
          <i class="fa-solid fa-right-to-bracket"></i>
          Login
          <i class="fa-solid fa-heart"></i>
        </h2>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Sign in" />
        <div class="group">
          <a href="#">Forgot Password</a>
          <a href="{{ url_for('register') }}">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
